# Terraform files 
**/.terraform/* 
*.tfstate     
*.tfstate.*
*.terraform.lock.hcl

# Variable files 
*.tfvars.*

# Lambda build artifacts (zipped code)
*.zip

# Python cache files
__pycache__/
*.pyc

# AWS
.aws/
credentials
config

